@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles arreglados */
/*todo GENERAL  */
/* contenedores generales */
.contenedor {
  @apply min-h-screen  bg-indigo-200 dark:bg-slate-900 dark:text-slate-300 flex justify-center items-center flex-col;
}
.contenedor1 {
  @apply  bg-indigo-200 dark:bg-slate-900 dark:text-slate-300 min-h-screen top-0 text-center;
}
/* botones generales */
.btns {
  @apply p-1 font-bold px-2 m-1 bg-amber-100 dark:bg-gray-300 dark:text-black dark:border-4 dark:border-black rounded-xl hover:bg-amber-300 dark:hover:bg-gray-700 dark:hover:text-white  active:bg-indigo-400 dark:active:bg-white dark:active:text-black cursor-pointer ;
}
/* botones cerrar sesion */
.btnssesion {
  @apply w-fit px-2 h-8 uppercase text-sm rounded-xl p-1 font-bold  m-1 bg-red-500 text-white  border-4 border-black hover:border-red-700  hover:bg-gray-950 dark:hover:bg-gray-950 hover:text-white active:text-white active:bg-emerald-500 dark:active:bg-emerald-500 cursor-pointer ;
}
/* section de los formularios */
.sectionform {
  @apply flex justify-center items-center flex-col bg-indigo-300 dark:bg-slate-800 dark:text-slate-300 m-2 p-2 rounded-xl
}
/* inputs generales */
.input {
  @apply px-2 m-1 text-center border border-black font-bold w-fit bg-indigo-200 dark:bg-slate-600 dark:text-slate-300 h-6 rounded-lg text-slate-950;
}
/* div inputs generales */
.divinput {
  @apply flex justify-center items-center;
}
/* confirmation  */
.confirmation {
  @apply md:text-6xl sm:text-2xl bg-indigo-300 dark:bg-slate-800 dark:text-slate-300 p-4 rounded-3xl  font-bold uppercase
}
/* div labels generales */
.divlabel {
  @apply text-center
}
/* label general */
.label {
  @apply p-1 font-bold text-lg text-center;
}
/* select general */
.select {
  @apply bg-indigo-400 dark:bg-slate-700 dark:text-slate-300 rounded-lg px-4 m-1 w-auto h-6  text-center ;
}
/* titulos generales */
.title {
  @apply sm:text-2xl md:text-4xl font-bold p-2 uppercase text-center
}
/* div de los titulos generales */
.divTitulo {
  @apply text-center flex flex-col items-center justify-center;
}
/* titulos generales 2 */
.titulo {
  @apply bg-indigo-300 dark:bg-slate-600 w-auto justify-center m-2 p-2 px-4 rounded-xl font-bold text-3xl sm:text-lg;
}
/* subtitulos generales */
.title2 {
  @apply sm:text-xl md:text-2xl font-bold p-2 uppercase text-center
}
/* para las imagenes de las paginas */
.img-e {
  @apply md:m-3 sm:mx-auto sm:m-2 bg-indigo-300 dark:bg-slate-800 p-2 rounded-xl hover:bg-purple-200 dark:hover:bg-gray-400  active:bg-red-700 dark:active:bg-red-300;
}
/* errores generales */
.error {
  @apply text-center text-red-500 font-bold;
}
/* para que no se cambie el tamano de una textarea */
.u {
  resize: none;
}
/* para el textarea */
.text-m {
  @apply w-full text-center h-80 bg-indigo-300 dark:bg-slate-600 p-5;
}
/* section de los form generales */
.section {
  @apply grid grid-cols-1;
}
/* para el icono de envio */
.BiSend {
  @apply text-3xl;
}
.sectionbtns {
  @apply flex items-center justify-center;
}
/*todo LOGIN  */
/* titolo del login */
.titlelogin {
  @apply text-4xl font-bold p-2 uppercase text-center;
}
/* botonos del login */
.btnslogin {
  @apply p-1 h-20 px-2 m-1 bg-amber-100 rounded-xl hover:bg-amber-300  active:bg-indigo-400 cursor-pointer dark:text-slate-900;
}
/* contendor de bontones */
.conbtnslogin {
  @apply p-1 px-6 text-lg flex justify-center h-12 items-center font-bold fixed bottom-28 z-10;
}
/*todo SIGNIN  */
/* titulos de inicio de sesion */
.titlesignin {
  @apply text-2xl font-bold p-2 uppercase text-center;
}
/* navbar */
.navbar {
  @apply  bg-indigo-300 dark:bg-slate-700 flex justify-center min-h-12 
}
/*todo DETAIL USER  */
.divDetail {
  @apply grid grid-cols-2 items-center font-bold text-2xl sm:text-lg bg-indigo-300 dark:bg-slate-700 m-1;
}
.detalle {
  @apply  sm:text-lg font-bold ;
}
.detalle1 {
  @apply  sm:text-lg font-bold text-right mx-4;
}


/*todo tabla home  */
.dht {
  @apply p-3 border-2 border-indigo-700 bg-indigo-400 dark:bg-slate-700 dark:border-slate-400 m-0.5
}
.divPageContainer {
  @apply border-4 my-6 border-black rounded-xl bg-indigo-500 p-0.5 dark:bg-slate-800 hover:bg-emerald-400 dark:hover:bg-emerald-800
}
.divPages {
  @apply grid lg:grid-cols-5 sm:grid-cols-1 md:grid-cols-3 m-2 border-4 border-indigo-700 dark:border-black bg-indigo-300 dark:bg-slate-700 my-4 p-2
}
.sectionPage1 {
  @apply  m-1 bg-indigo-400 dark:bg-slate-800 p-1 rounded-lg hover:bg-emerald-400 dark:hover:bg-emerald-800
}
.sectionPage1 h1 {
  @apply font-bold
}
.sectionPage1 h2 {
  @apply font-semibold
}
.sectionPage2 {
  @apply    grid grid-cols-2 hover:bg-emerald-400 dark:hover:bg-emerald-800
}
.divPageAdult {
  @apply border-2 border-indigo-900 dark:border-black m-0.5 bg-indigo-400 dark:bg-slate-600 hover:bg-emerald-400 dark:hover:bg-emerald-900
}
.divPageAdult h1 {
  @apply uppercase
}
.divPageAdult h2 {
  @apply font-bold
}
.divPageRojo {
  @apply border-2 border-black dark:border-black m-0.5 bg-indigo-400 dark:bg-slate-600 hover:bg-emerald-400 dark:hover:bg-emerald-900
}
.divPageRojo h1 {
  @apply uppercase
}
.divPageRojo h2 {
  @apply font-bold
}
/*todo saldos rojos o verdes  */
.saldoPositivo {
  @apply bg-emerald-500 text-black font-bold
}
.saldoRojo {
  @apply bg-red-600
}
.btn-rojos {
  @apply p-1 px-2  bg-red-500 rounded-xl font-sans hover:bg-red-800  active:bg-green-400 border-4 border-black dark:text-black font-bold;
}
/*todo los users  */
.divPageUser {
  @apply border-2 border-indigo-900 dark:border-black m-0.5 bg-indigo-400 dark:bg-slate-600 hover:bg-emerald-400 dark:hover:bg-emerald-900
}
.divPageUser h1 {
  @apply uppercase border-b-2 border-indigo-900 dark:border-black
}
.divPageUser h2 {
  @apply font-bold
}

/* 
.btnStore {
  @apply mx-2 rounded-md scale-125 bg-orange-100  hover:bg-orange-100  active:bg-indigo-200;
}

.btn-n {
  @apply p-1 px-2 m-1 bg-amber-100 rounded-xl hover:bg-amber-300  active:bg-indigo-400 cursor-pointer;
}



.img-u {
  @apply mx-2 bg-indigo-400 p-3 rounded-xl w-20;
}

.img-d {
  @apply mx-2 bg-indigo-400 rounded-full w-96;
}
.contenedor3 {
  @apply flex grid-cols-2 justify-center;
}
.contenedor4 {
  @apply mt-8 font-bold m-2 px-2 py-3 bg-indigo-100 max-w-fit;
}
.mostrarcorte {
  @apply border-b-2 border-black;
}
.totalpagina {
  @apply m-4 bg-indigo-100 rounded-xl h-20 justify-center flex items-center hover:scale-105 hover:border-black hover:border transition ease-in duration-500;
}

.detalles {
  @apply text-left mx-4 font-bold font-spartan;
}



.setionLocation {
  @apply grid grid-cols-2 m-2 mr-48;
}

.sectionH1 {
  @apply text-right mx-4 font-bold;
}

.menu-container {
  @apply bg-indigo-100 rounded-xl border-2 border-t-8 border-r-8 border-indigo-400 p-2;
}

.sectionMoneda {
  @apply grid grid-cols-2;
}
.h1Moneda {
  @apply text-right mx-4 font-bold;
}
.adult {
  background-color: #C4B5FD;
}
todo   ya esta verificada
.iconPage {
  @apply w-24 m-2;
}
todo   ya esta verificada
.sectionIconPage {
  @apply flex justify-center items-center ;
}
todo   ya esta verificada
.sectionPage {
  @apply border-r-2 border-indigo-500;
}
.btn-w {
  @apply p-1 px-2 m-2 bg-orange-100 rounded-xl font-sans hover:bg-orange-200  active:bg-indigo-400;
}
.btn-rojos {
  @apply p-1 px-2  bg-red-500 rounded-xl font-sans hover:bg-red-800  active:bg-green-400 border-2 border-black;
}
todo   ya esta verificada
.contenedor1 {
  @apply  bg-indigo-200 dark:bg-slate-900 dark:text-slate-300 min-h-screen top-0;
}
.contenedorVentas {
  @apply h-screen bg-indigo-200 dark:bg-slate-900 top-0 min-w-full flex;
}
todo   ya esta verificada
.contenedorVentas2 {
  @apply  text-center w-9/12;
}
.contenedorVentas3 {
  @apply w-1/4 p-2 border-4 border-indigo-500;
}
.contenedor2 {
  @apply pt-14 text-center;
}
todo   ya esta verificada
.error {
  @apply text-center text-red-500 font-bold;
}
todo   ya esta verificada

todo   ya esta verificada

.inputEdit {
  @apply px-2 m-1 text-center border border-black font-bold bg-indigo-200 h-6 rounded-lg;
}
todo   ya esta verificada
.section {
  @apply grid grid-cols-2 justify-center items-center;
}
todo   ya esta verificada
.sectionGlobal {
  @apply text-right;
}
todo   ya esta verificada
.sectionSelect {
  @apply rounded-lg px-4 w-auto justify-center items-center flex;
}
todo   ya esta verificada
.selectEdit {
  @apply bg-indigo-400 rounded-lg px-4 m-1 w-96 h-7  text-center;
}
todo   ya esta verificada
.form {
  @apply flex flex-col items-center px-10 bg-indigo-300 min-w-min rounded-lg m-2 p-1;
}
todo   ya esta verificada
.subTitulo {
  @apply text-2xl font-bold;
}
todo   ya esta verificada

todo   ya esta verificada

todo   ya esta verificada
.sectionProducto {
  @apply bg-indigo-300 m-1 rounded-2xl border-2 border-indigo-400 text-justify;
}

.divButtonP {
  @apply flex grid-cols-4 bg-indigo-500 mt-3 rounded-xl justify-between items-center h-8 w-44 mx-6;
}
.containerDetails {
  @apply grid grid-cols-4
}
.details {
  @apply bg-indigo-200 m-1 p-1 border-2 border-indigo-400 rounded-2xl max-w-fit text-center font-bold flex-col
}
.details h1 {
  @apply font-normal text-center 
}

//todo para los detalles de hoja de pago
.porcentaje {
  @apply grid grid-cols-7 bg-indigo-400 border-4 border-indigo-600  font-bold rounded-xl
}



 */
.no-spin {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* Otros navegadores */
}

.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background: #c7d2fe;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Victor Mono', monospace;
}

.loader {
  scale: 4;
  width: 64px;
  height: 44px;
  position: relative;
  border: 5px solid #fff;
  border-radius: 8px;
}
.loader::before {
  content: "";
  position: absolute;
  border: 5px solid #fff;
  width: 32px;
  height: 28px;
  border-radius: 50% 50% 0 0;
  left: 50%;
  top: 0;
  transform: translate(-50%, -100%);
}
.loader::after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 16px 0 #fff, -16px 0 #fff;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 16px 0 rgba(255, 255, 255, 0.25), -16px 0 rgba(255, 255, 255, 1);
  }
  50% {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 16px 0 rgba(255, 255, 255, 0.25),
      -16px 0 rgba(255, 255, 255, 0.25);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 16px 0 rgba(255, 255, 255, 1), -16px 0 rgba(255, 255, 255, 0.25);
  }
}

.loade1 {
  width: 48px;
  height: 12px;
  margin-top: 40px;
  background: #fff;
  display: inline-block;
  position: relative;
}
.loade1::after {
  content: "";
  left: 50%;
  top: -47px;
  transform: translate(-50%, 0);
  position: absolute;
  border: 15px solid transparent;
  border-bottom-color: #fff;
  box-sizing: border-box;
  animation: bump 0.4s ease-in-out infinite alternate;
}
.loade1::before {
  content: "";
  left: 50%;
  bottom: 15px;
  transform: translate(-50%, 0);
  position: absolute;
  width: 15px;
  height: 20px;
  background: #fff;
  box-sizing: border-box;
  animation: bump 0.4s ease-in-out infinite alternate;
}

@keyframes bump {
  0% {
    transform: translate(-50%, 5px);
  }
  100% {
    transform: translate(-50%, -5px);
  }
}
